<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/edit.css' %}">
</head>
<body>
    <h1>add product</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="cake_id" id="" placeholder="id">
        <input type="text" name="cake_name" id="" placeholder="Name">
        <input type="number" name="price" id="" placeholder="Price">
        <input type="file" name="img" id="">
        <input type="text" name="category" id="" placeholder="category">
        <input type="text" name="colour" id="" placeholder="clr">
        <input type="number" name="quantity" id="" placeholder="qty">
        <input type="text" name="description" id="" placeholder="des">
        
        <input type="submit" value="Add">
        

    </form>
</body>
</html>