* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="file"] {
    padding: 5px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #696768;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d195c5;
}

.product-image {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .form-container {
        padding: 15px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    label {
        font-size: 1rem;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    input[type="submit"] {
        font-size: 0.9rem;
    }

    .product-image {
        max-width: 100%;
    }
}


@media (max-width: 480px) {
    .form-container {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 8px;
    }

    label {
        font-size: 0.9rem;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    input[type="submit"] {
        font-size: 0.85rem;
    }
}
